#topProp{
    width: 74%;
    margin-left: 75px;
    background-color: white;
    margin-left: 75px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 126, 143);
}
#topProp:hover{
    text-decoration: underline;
}
#container{
    width: 75%;
    background-color: white;
    margin-left: 75px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
    grid-template-areas: 
    "g1 g1 g1 g1 g1 g1 g2 g2 g2 g3 g3 g3"
    "g1 g1 g1 g1 g1 g1 g4 g4 g4 g5 g5 g5";
}
#container>div{
    width: 33;
    height: 142.017px;
}
#container > #imgDiv1 >img{
    width: 100%;
    height: 290px;
}
#container img{
    width: 100%;
    height: 142px;
}
#imgDiv1{
    grid-area: g1;
    padding-bottom: 144px;
}
#imgDiv2{
    grid-area: g2;
}
#imgDiv3{
    grid-area: g3;
}
#imgDiv4{
    grid-area: g4;
}
#imgDiv5{
    grid-area: g5;
}
#fix{
    display: flex;
    width: 75%;
    margin-left: 75px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid grey;
    position: sticky;
    top:0;
}
#lists{
    display: flex;
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.listed{
    margin-left: 20px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
.listed:hover{
    border-bottom: 1px  solid rgb(97, 97, 97);
}
.listed:nth-child(1){
    margin-left: 10px;
    color: rgb(0, 126, 143);
    border-bottom: 1px  solid rgb(0, 126, 143);
    cursor: pointer;
}
#fix>#reserve>button{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    padding-top: 10px;
    font-weight: 500;
    background-color: rgb(207, 75, 109);
    border: 0px;
    color: white;
    padding-bottom: 10px;
    
}
#overView{
    width: 75%;
    margin-left: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#hotelSide{
    width: 50%;
    
    margin-top: 30px;
}
#map{
    width: 30%;
    padding-right: 15px;
    margin-top: 30px;
    
}
#hotName{
    font-size: 28px;
    color: rgb(31, 31, 31);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 32px;
    font-weight: 700;
    padding-left: 15px;
}
#star{
    color: rgb(117, 117, 117);
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 18px;
}
.subHead{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(31, 31, 31);
    line-height: 22px;
    font-weight: 700;
    padding-left: 15px;
    margin-bottom: 15px;
}
.small{
    padding-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}
.lynk{
    color:rgb(0, 126, 143);
    cursor: pointer;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px;
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 18px;
    width: fit-content;
}
.lynk:hover{
    text-decoration: underline;
}
.subHeadMap{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(31, 31, 31);
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.smallMap{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}
.lynkMap{
    color:rgb(0, 126, 143);
    cursor: pointer;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 18px;
    width: fit-content;
}
.lynkMap:hover{
    text-decoration: underline;
}
#subDiv1{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#mapImg{
    width: 100%;
    height: 180px;
}
.smallOne{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
#beforeFoot{
width: 100%;
}
#beforeFoot>button{
font-size: 16px;
color: #107cd4;
padding: 8px 16px;
font-weight: 500;
line-height: 20px;
text-align: center;
background-color: white;
border: 1px solid #C7C7C7;

}
#beforeFoot>button:hover{
cursor: pointer;
background-color: #D9ECEE;
color: #2C545A;
}
#beforeFoot>img{
width: 55%;
margin-left: 350px;
margin-top: 22px;
margin-bottom: 22px;
cursor: pointer;
}
#beforeFoot>div{
font-size: 12px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 700;
color: rgb(97, 97, 97);
margin-left: 615px;
margin-bottom: 5px;
}
#beforeFoot>#feedBack{
margin-left: 650px;
margin-bottom: 100px;
}